/* Outer box */
#outer {
  width: 500px;
  height: 500px;
  background-color: skyblue; /* You can change this to your favorite color */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Inner box */
#inner {
  width: 400px;
  height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_1280.jpg"); /* Example: a cat */
  background-size: cover;  /* Makes the image fill the box */
  background-repeat: no-repeat;
  background-position: center;
}
