#wrapper {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 25vh auto;
  padding: 10px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

#quote-div {
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
  margin: 10px auto;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}