.body{
    background: linear-gradient(skyblue, green) no-repeat;
margin: 0;
padding: 0;
min-height: 100vh;
width: 100%;
}

.main , .footer, .header{
    width: 70%;
    margin: auto;
}
.header, .footer{
    text-align: center;
}
.header img{
    width: 50%;
    margin: auto;
    display: block;   
}
#night-2{
    text-align: right;
}